.charts {
    width: 200px;
    text-align: center;
}

#sec-charts {
    background-color: #555;
}

#sec-colorpicker .parallax-container {
    height: auto;
}

nav .nav-header, #nav-header {
    background-position: 50% 68%;
    background-size: cover;
}


.label {
    background-color: #555;
    box-shadow: 0 1px 3px;
}

.colors {
    background-color: var(--background-1);
    padding: 10px;
}

.color {
    background-color: #FFF;
    width: 250px;
    min-width: 70px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 8px 8px 0 8px;
    margin: 5px 5px 5px 0;
}

.card-image .color {
    width: 100%;
    margin: unset;
}

.color a {
    background-color: #fff9;
    display: block;
}

#toolbar {
    background-color: #555;
    padding: 5px;
    box-shadow: 0 1px 3px;
}

#canvas-house {
    width: 30%;
    min-width: 350px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

td {
    text-align: center;
}

#dropdown-colors {
    width: 240px !important;
}

#carousel-colors > a {
    top: -15% !important;
}

.navbar-fixed {
    height: 160px;
}

.chart-wrapper {
    padding: 20px;
}